/*-- The Setup--*/

:root {
    --clr-primary-drk-cyan: hsl(158, 36%, 37%);
    --clr-primary-cream: hsl(30, 38%, 92%);
    --clr-neutral-vry-drk-blu: hsl(212, 21%, 14%);
    --clr-neutral-drk-gry-blu: hsl(228, 12%, 48%);
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-button-active-state: hsl(156, 42%, 18%);

    --ff-header: "Fraunces", sans-serif; /*Use fw-700*/
    --ff-body: "Montserrat", sans-serif; /*Use fw-500 & fw-700*/
    
    --fs-body: 0.875em;

    --fw-500: 500;
    --fw-700: 700;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font: var(--fw-500) var(--fs-body) var(--ff-body);
    background-color: var(--clr-primary-cream);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
}

p, h1 {
    overflow-wrap: break-word;
}

/*--Mobile-first Approach--*/
/*--Card Component CSS--*/

.product-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img"
    "info";
    width: 26.8em;
    margin: 1em;
    border-radius: 9px;
    background-color: var(--clr-neutral-white);
}

.product-img {
    width: 100%;
    border-radius: 9px 9px 0 0;
    grid-area: img;
}

.product-info {
    margin: 1.8em;
    grid-area: info;
}

/*--Utility Classes--*/

.sm-text { /*applies to product-category (text above the h1), body paragraph & previous price (<del> tag)*/
    color: var(--clr-neutral-drk-gry-blu);
}

.lg-text { /*applies to h1 & current price*/
    font: var(--fw-700) 2.5em/1 var(--ff-header);
}

/*--Miscellaneous CSS Styling--*/

.product-category {
    letter-spacing: 5px;
    font-size: 0.9em;
    text-transform: uppercase;
}

h1 {
    padding: 0.4em 0;
}

.body { /*applies to paragraph description*/
    font-size: 1.1em;
}

.current-price {
    padding: 0.7em 0 0.6em;
    color: var(--clr-primary-drk-cyan);
}

.previous-price {
    padding-left: 18px;
    vertical-align: 50%;
    font: var(--fw-500) 0.38em var(--ff-body);
}

del::before, /*to announce the del tag (previous price) to screen readers*/
del::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

del::before {
  content: "Previous sale price start";
}

del::after {
  content: "Previous sale price end";
}

button {
    width: 100%;
    padding: 1.1em;
    border: none;
    border-radius: 8px;
    color: var(--clr-neutral-white);
    font: var(--fw-700) 1em var(--ff-body);
    background-color: var(--clr-primary-drk-cyan);
}

button .icon {
    margin-right: 0.8em;
    vertical-align: text-bottom;
}

button:hover, button:active {
    cursor: pointer;
    background-color: var(--clr-button-active-state);
}

/*--Footer Attribution--*/

.attribution { 
    bottom: 0;
    margin: 1em;
    position: fixed;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*--Media Queries--*/

@media (min-width: 700px) {
    .product-card {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "img info";
        width: 45em;
    }
    .product-img {
        border-radius: 8px 0 0 8px;
    }
    .product-info {
        margin: 2.5em;
    }
    h1 {
        padding: 0.6em 0;
    }
    .body {
        font-size: 1em;
    }
    .current-price {
        padding: 0.8em 0;
    }
}
